.text_special{
    color: rgba(124, 58, 237, 0.75);
}
.sendfeedback_footer{
    display: block;
    color: #fff;
    background-color:  rgba(124, 58, 237, 0.75);
    height: 100%;
    width: 60px;
    border-radius: 5px;
}
.container_box_menu{
    li {
        margin-bottom: 5px;
    }
}