.connectwallet{
    display: flex;
    align-self: center;
    width: 200px;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #898585;
}
.connectwallet:hover{
    background-color: #747272;
    border: 1px solid #b7b2b2;
}