.form_search_nav{
    position: relative;
    display: flex;
}
.icon_search_nav{
   border: none;
   position: absolute;
   top:20%;
   right: 15px;
   background-color: #fff;
   margin-left: 10px;
}

