.listnft_container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
@media screen and (max-width:1024px) {
    .listnft_container{
        width: 80%;
    }
}
@media screen and (max-width:800px) {
    .listnft_container{
        width: 100%;
    }
}