.notification_container{
    margin: 5px;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #656262;
    border-radius: 30px;
    
}